*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color:#6c6c6c ;
  color: white;
  font-family:'Raleway';
  border-bottom: none;
  position: fixed;
  width: 1350px;
  z-index: 99;
}
.Active
{
  color: black;
}
 ul li  {
  list-style: none;
  display: inline-block;
  padding-top: 20px;
  padding-left: 10px;
  color: #fff ; /* Add !important to override any conflicting styles */
}
  
 
.myspan {
  float: right;
 
}
nav ul li:hover {
  color: #01427a;
  cursor: pointer;
  text-decoration: none;
  list-style: none !important;
}

.join {
  float:  right;
  border: 1px solid #fff;
  padding: 10px;
  color: teal;
  transition: 0.6s ease;
  background-color: transparent;
  margin-top: 20px;
  margin-right: 15px;
  color: black;
}
.join:hover
{
background-color: gray;
color: black;
text-decoration: none;
transition: 0.6s ease;
}
.join a{
  text-decoration: none;
  color: black;
}
.join a:hover
{
  text-decoration: none;
  color: black;
  transition: 0.6s ease;
}
  /**
  ** side-bar
  */
  .side-bar{
    float: left;
    width: 20%;
    height: 636px;
    border: 1px  solid black;
  }
  /**
  ** pesonal-info
  */
  .pesonal-info{
    background-color: #01427a;
    height: 50%;
    margin-top: 70px;
  }
  /**
  ** image
  */
  .user-image {
    
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 28%;
    align-items: center;
    position: relative;
    top: 30px;
  }
  
  .user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /**
  ** info-name
  */
  .info-name
  {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-right: 18px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Scope One';
  }
  /**
  ** info-state
  */
  .info-state
  {
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
    font-weight: bold;
    font-size: 15px;
    color: #6c6c6c;
  }
  /**
  ** button
  */
  .mubutton
  {
    border: 1px solid #fff;
    padding: 10px;
    color: teal;
    margin-left: 5px;
    background-color: transparent;
    color: black;
    margin-bottom:20px ;
    
  }
  .mubutton:hover{
    background-color: gray;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
    
  }
  /**
  ** options
  */
  .side-bar-option
  {
    height: 100%;
    float: left;
    width: 100%;
    background-color: #6c6c6c;
  }
  
  .side-bar-option ol{
    width: 100%;
    padding: 0;
    margin: 0;
    color: #01427a;
  }
  .side-bar-option ol li
  {
    list-style: none;
    text-indent: 70px;
    padding: 25px;
    font-family:'Merriweather' ;
    color:#01427a !important;
  }
  a
  {
  color:#01427a;
  text-decoration: none !important;
  }
  a:hover
  {
  text-decoration: none;
  }
  .side-bar-option ol li:hover{
    background-color:#a0a0a0;
    transition: 0.6s ease;
    cursor: pointer;
    text-decoration:none !important;
  }
  .Profile{
    float: right;
    margin-top: 100px;
    margin-right: 22%;
  }
  /******************************************************************/
  .courses
  {
    float: right;
    margin-top:73px;
    width: 80%;
  }
  table {
    border-collapse: collapse;
    width: 100%;
   float: left;
   
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: black;
    color: #fff;
  }
  
  tr:nth-child(even) {
    background-color: #afafaf;
  }
 
